@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 4.8% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 262 84% 59%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 262 84% 59%;

    --radius: 0.75rem;
  }
  .theme-clarity {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
  }
  .theme-terminal {
    --background: 224 71% 4%;
    --foreground: 130 100% 90%;
    --card: 224 71% 9%;
    --card-foreground: 130 100% 90%;
    --popover: 224 71% 4%;
    --popover-foreground: 130 100% 90%;
    --primary: 130 100% 50%;
    --primary-foreground: 224 71% 4%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 90%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 90%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 224 71% 4%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 130 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--muted)) hsl(var(--background));
  }
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background-color: hsl(var(--background));
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted));
    border-radius: 10px;
    border: 2px solid hsl(var(--background));
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--secondary));
  }
}